In [1]:
import pandas as pd

In [2]:
#A function to import csv using pandas

def get_files(name):
    path = f'.\\csv_files\\{name}.csv'
    return pd.read_csv(path)

In [3]:
aapl = get_files('AAPL')
amzn = get_files('AMZN')
google = get_files('GOOGL')
intel = get_files('INTC')
meta = get_files('META')
msft = get_files('MSFT')
nvidia = get_files('NVDA')
qcom = get_files('QCOM')

In [4]:
print(aapl.head(1))
print(amzn.head(1))
print(google.head(1))

                        Date       Open       High        Low      Close  \
0  2018-01-22 00:00:00-05:00  42.148631  42.262738  41.982224  42.077312

      Volume  Dividends  Stock Splits
0  108434400        0.0           0.0
                        Date       Open       High     Low      Close  \
0  2018-01-22 00:00:00-05:00  64.858498  66.372498  64.833  66.365501

     Volume  Dividends  Stock Splits
0  82802000        0.0           0.0
                        Date       Open       High     Low   Close    Volume  \
0  2018-01-22 00:00:00-05:00  57.191002  58.344002  57.091  58.208  29550000

   Dividends  Stock Splits
0        0.0           0.0

In [5]:
#Cleaning and renaming dataframes with for loops

stocks_list = [aapl, amzn, google, intel, meta, msft, nvidia, qcom]
stocks_name = ['AAPL','AMZN','GOOGL','INTC','META','MSFT','NVDA','QCOM']

for stock in stocks_list:
    stock.drop(['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'], axis=1, inplace=True)
    
for idx in enumerate(range(len(stocks_name))):
    stocks_list[idx[0]].rename(columns={'Close': f'{stocks_name[idx[0]]}'}, inplace=True)

In [6]:
#Checking data integrity after cleaning loops

print(aapl.head(1))
print(amzn.head(1))
print(google.head(1))

                        Date       AAPL
0  2018-01-22 00:00:00-05:00  42.077312
                        Date       AMZN
0  2018-01-22 00:00:00-05:00  66.365501
                        Date   GOOGL
0  2018-01-22 00:00:00-05:00  58.208

In [7]:
#merging dataframes

df1 = pd.merge(aapl,amzn, on='Date')
df2 = pd.merge(google,intel, on='Date')
df3 = pd.merge(meta,msft, on='Date')
df4 = pd.merge(nvidia,qcom, on='Date')
df5 = pd.merge(df1,df2, on='Date')
df6 = pd.merge(df3,df4, on='Date')

df = pd.merge(df5,df6, on='Date')

In [8]:
df['Date'] = df['Date'].astype(str).str[:10]
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1258 entries, 0 to 1257
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   datetime64[ns]
 1   AAPL    1258 non-null   float64
 2   AMZN    1258 non-null   float64
 3   GOOGL   1258 non-null   float64
 4   INTC    1258 non-null   float64
 5   META    1258 non-null   float64
 6   MSFT    1258 non-null   float64
 7   NVDA    1258 non-null   float64
 8   QCOM    1258 non-null   float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 98.3 KB

In [10]:
df.to_csv('.\\csv_files\\dataframe\\df.csv')