In [25]:
import pandas as pd

In [26]:
#A function to import csv using pandas

def get_files(name):
    path = f'.\\csv_files\\{name}.csv'
    return pd.read_csv(path)

In [27]:
aapl = get_files('AAPL')
amzn = get_files('AMZN')
google = get_files('GOOGL')
intel = get_files('INTC')
meta = get_files('META')
msft = get_files('MSFT')
nvidia = get_files('NVDA')
qcom = get_files('QCOM')

In [28]:
print(aapl.head(1))
print(amzn.head(1))
print(google.head(1))

                        Date       Open       High        Low      Close  \
0  2018-01-22 00:00:00-05:00  42.148631  42.262738  41.982224  42.077312

      Volume  Dividends  Stock Splits
0  108434400        0.0           0.0
                        Date       Open       High     Low      Close  \
0  2018-01-22 00:00:00-05:00  64.858498  66.372498  64.833  66.365501

     Volume  Dividends  Stock Splits
0  82802000        0.0           0.0
                        Date       Open       High     Low   Close    Volume  \
0  2018-01-22 00:00:00-05:00  57.191002  58.344002  57.091  58.208  29550000

   Dividends  Stock Splits
0        0.0           0.0

In [29]:
#Cleaning and renaming dataframes with for loops

stocks_list = [aapl, amzn, google, intel, meta, msft, nvidia, qcom]
stocks_name = ['AAPL','AMZN','GOOGL','INTC','META','MSFT','NVDA','QCOM']

for stock in stocks_list:
    stock.drop(['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'], axis=1, inplace=True)
    
for idx in enumerate(range(len(stocks_name))):
    stocks_list[idx[0]].rename(columns={'Close': f'{stocks_name[idx[0]]}'}, inplace=True)

In [30]:
#Checking data integrity after cleaning loops

print(aapl.head(1))
print(amzn.head(1))
print(google.head(1))

                        Date       AAPL
0  2018-01-22 00:00:00-05:00  42.077312
                        Date       AMZN
0  2018-01-22 00:00:00-05:00  66.365501
                        Date   GOOGL
0  2018-01-22 00:00:00-05:00  58.208

In [31]:
#merging dataframes

df1 = pd.merge(aapl,amzn, on='Date')
df2 = pd.merge(google,intel, on='Date')
df3 = pd.merge(meta,msft, on='Date')
df4 = pd.merge(nvidia,qcom, on='Date')
df5 = pd.merge(df1,df2, on='Date')
df6 = pd.merge(df3,df4, on='Date')

df = pd.merge(df5,df6, on='Date')

In [32]:
df

,Date,AAPL,AMZN,GOOGL,INTC,META,MSFT,NVDA,QCOM
0,2018-01-22 00:00:00-05:00,42.077312,66.365501,58.208000,39.829746,185.369995,86.270508,57.833042,59.698547
1,2018-01-23 00:00:00-05:00,42.086823,68.126999,58.808498,40.099632,189.350006,86.543610,59.124882,59.411678
2,2018-01-24 00:00:00-05:00,41.416443,67.875504,58.564499,39.620796,186.550003,86.468262,58.355228,59.098698
3,2018-01-25 00:00:00-05:00,40.677113,68.897499,59.106998,39.437981,187.479996,86.948517,58.491337,58.611877
4,2018-01-26 00:00:00-05:00,40.772190,70.102501,59.377998,43.599419,190.000000,88.577713,60.218735,59.576836
...,...,...,...,...,...,...,...,...,...
1253,2023-01-12 00:00:00-05:00,133.410004,95.269997,91.129997,30.290001,136.710007,238.509995,165.110001,121.589996
1254,2023-01-13 00:00:00-05:00,134.759995,98.120003,92.120003,30.110001,136.979996,239.229996,168.990005,120.239998
1255,2023-01-17 00:00:00-05:00,135.940002,96.050003,91.290001,29.600000,135.360001,240.350006,177.020004,120.279999
1256,2023-01-18 00:00:00-05:00,135.210007,95.459999,91.120003,28.809999,133.020004,235.809998,173.770004,122.040001
1257,2023-01-19 00:00:00-05:00,135.270004,93.680000,93.050003,28.420000,136.149994,231.929993,167.649994,117.580002